body {
  background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.navbar {
  border-bottom: #c20953 3px solid;
  opacity: 0.8; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
    #home-section .home-inner h1 {
      font-weight: 300; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #c20953;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

textarea {
  resize: none; }

#services-section h3 {
  font-weight: bold; }

#services-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#services-section .img-fluid {
  padding-top: 45px; }

#services-section #ordering .img-fluid {
  width: 70%;
  height: 100%; }

#about-head-section {
  background: #c20953; }
