// Main Sass File
$bg-color: #333;
$font-color: #fff;
$primary-color: #007bff;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: 'Montserrat', sans-serif;;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;

    a .navbar-brand {
        font-weight: bold;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $font-color;
}

#home-section {
    background: url('../img/home.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 100vh;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100vh;
    }
    
    .home-inner {
        padding-top: 150px;

        h1{
            font-weight: 300;
        }
    }
    
    .card-form {
        opacity: 0.8;
    }

    .fa {
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

textarea {
    resize: none;
}

#services-section {
    h3 {
        font-weight: bold;
    }

    .fa {
        color: $font-color;
        background: #333;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }

    .img-fluid {
        padding-top: 45px;
    }

    #ordering{
    h4 {
        font-weight: bold;
    }
    .col-md-3 {
        padding-top: 90px;
    }
}
}

#about-head-section, #services-head-section {
    background: $primary-color;
}

#about-section {
    background-color: $font-color;
    color: #6c757d;

    h3 {
        font-weight: bold;
    }

    .fa {
        color: $font-color;
        background: #333;
        padding: 4px;
        border-radius: 5px;
        font-size: 15px;
    }

}

#footer-section {
    background: $primary-color;
    color: $font-color;

    a {
        color: $font-color;
    }

    #menu a {
        text-decoration: underline;
    }

    .footer-copyright {
        background: rgba(0,0,0,.2);
        color: rgba(255,255,255,.6);

        
    }
}

@media(max-width: 768px){

    html {
        min-width: 100vw;
        overflow-x: hidden
    }

    header #home-section {
        text-align: center;
        min-height: 100%;

        .home-inner {
            min-height: 100%;
        }
    }

    #home-section .home-inner h1{
            font-size: xx-large;
            margin-left: 15px;
            margin-top: 15px;
        }
        
    #mediaShowcase li {
        padding-bottom: 25px;
    }

    header .dark-overlay {
        width: 100%;
        height: 100vh;
    }

    header #mediaShowcase {
        margin-bottom: 64px;
    
    }

    #services-head-section {
        h1{
            font-size: xx-large;
        }

        p{
            display: none;
        }
    }

    #about-head-section {
        h1{
            font-size: xx-large;
            padding-bottom: 10px;
        }

        p{
            display: none;
        }
    }

    #services-section {
        #ordering h4 {
            margin-left: 15px;
        }
    }
}