// Main Sass File
$bg-color: #333;
$font-color: #fff;
$primary-color: #c20953;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: 'Montserrat', sans-serif;;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

.navbar-dark .navbar-nav .nav-link {
    color: $font-color;
}

#home-section {
    background: url('../img/home.jpg') no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
    }
    
    .home-inner {
        padding-top: 150px;

        h1{
            font-weight: 300;
        }
    }
    
    .card-form {
        opacity: 0.8;
    }

    .fa {
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

textarea {
    resize: none;
}

#services-section{
    h3 {
        font-weight: bold;
    }

    .fa {
        color: $font-color;
        background: #333;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }

    .img-fluid {
        padding-top: 45px;
    }

    #ordering{
    h4 {
        font-weight: bold;
    }
    .col-md-3 {
        padding-top: 90px;
    }
}
}

#about-head-section {
    background: $primary-color;
}